.pre-scrollable {
    max-height: 500px !important;
}

/*body { padding-bottom: 150px; }*/

.navbar, .navbar-inverse, .navbar-nav, .navbar-default, .navbar-brand, #nav-search, #id-search, a.footer-link, #footer, .navbar-inverse .navbar-nav > li > a, .navbar-nav > a {
    color: #e64626 !important;
    font-weight: bold;
    font-size: 1.6rem;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 0 !important;
}

.nav-tabs > li.active > a {
    background-color: #eee !important;
}

.title-page a, #info-content a {
    color: #e64626 !important;
}

.jumbotron.tab-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*html, body {*/
/*margin: 0 !important;*/
/*min-height: 100vh !important;*/
/*}*/


#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 80px;
}

.font-bold {
    font-weight: bold;
}

input.danger {
    border: .2rem solid #dc3545;
}

.checkbox {
    position: relative;
}

.checkbox > input {
    display: none;
}

.checkbox > label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.checkbox > label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 4px;
    border: .2rem solid lightgrey;
}

.checkbox > input:checked + label:before,
.checkbox:hover > label:before {
    background: #f35429;
}

.checkbox > input:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white,
    4px 0 0 white,
    4px -2px 0 white,
    4px -4px 0 white,
    4px -6px 0 white,
    4px -8px 0 white;
    transform: rotate(45deg);
}

/*nav {*/
/*padding: 10px;*/
/*}*/

article {
    padding-bottom: 100px;
     /*Height of the footer element */
}

.git-links {
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer > * {
    margin: 0 1rem;
}

footer > *:hover {
    color: white;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: white !important;
    align-items: center;
    border-top: .1rem solid grey;
}

#footer img {
    width: 220px;
    height: auto;
}

@media screen and (min-width: 750px) {
    #plot.home-plot {
        padding-left: 10%;
    }
}

.faq-collapsible {
    font-size: 1.6rem;
}

.chevron-collapsible > i {
    transition: all .5s;
    margin-left: .4rem;
}

.chevron-collapsible:not(.collapsed) i {
    transform: rotate(90deg);
}

.chevron-collapsible:not(.collapsed) {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: .5rem;
}

.collapse p {
    margin: 0;
    padding-bottom: 10px;
}

.blank-review {
    display: flex;
    justify-content: center;
}

.blockquote {
    font-size: 100%;
}

.title-page {
    margin-top: 40px;
}

.alert {
    display: flex;
    flex-direction: row;
}

.alert .glyphicon {
    margin-right: 8px;
    align-self: center;
    font-size: 30px !important;
}

.dismiss {
    cursor: pointer;
}


.fixed-width {
    max-width: 1200px;
    margin: auto;
}

@media screen and (min-width: 1400px) {
    #plot.home-plot {
        padding-left: 30%;
    }
}


@media screen and (max-width: 970px) {
    .pg_content {
        padding-bottom: 200px !important;
    }
}

@media screen and (max-width: 765px) {
    #plot {
        padding-top: 70px !important;
        padding-bottom: 40px !important;
    }

    #plot-dash {
        padding-bottom: 110px !important;
    }
}


.progress-container {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.has-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.has-tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: .5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 250px;
    bottom: 100%;
    left: 50%;
    margin-left: -125px;
    font-size: 1.5rem;
}

.has-tooltip:hover .tooltiptext {
    visibility: visible;
}

.flip-v-axis {
    display: inline-block;
    transform: scale(-1, 1);
}

.logo-brand {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    color: #e64626;
}


.browse-item {
    display: flex;
}

.browse-item > div:nth-child(1) {
    align-self: center;
    margin-right: 1rem;
    min-width: 80px;
    text-align: center;
}

.progress_div {
    padding: 0 1rem;
    margin: 1rem 0;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.vertical-center {
    min-height: 50%; /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}


/*.navbar-nav > li > .dropdown-menu { */
/*background-color: #101010;*/
/*color: #d9edf7 !important;*/
/*}*/

.ct-point {
    stroke-width: 3px !important;
    stroke-linecap: round;
}

.ct-series-a .ct-point {
    stroke: #d70206 !important;
}

.ct-series-b .ct-point {
    stroke: rgba(0, 0, 0, 0.37) !important;
}

g.mpld3-xaxis, g.mpld3-yaxis {
    display: none;
}

.v-center {
    position: relative;
    transform: translateY(50%);
}

.incl-enrol {
    padding: 0;
    margin: 0;
    float: left;
}

#completeness_instructions {
    font-size: 80%;
    font-style: italic;
    padding-top: 5%;

}

.nickname-cont {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
