{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid pg_content blank-review">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Oops...</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-2 visible-lg" id="related-reviews" style="display:none!important;"></div>
        <div class="col-lg-10 col-md-12">
            <div class="row">
                <div class="col-lg-12 col-md-12" id="review-data-container">
                    {% if review_id %}
                        <a href="#" id="recommender-new" class="btn btn-primary" style="float:right">Create New +</a>
                    {% endif %}
                    <div class="page-header text-center">
                        <div class="row">
                            <div class="col-md-12 col-lg-10">
                                <h3>Systematic Review Recommender<br>
                                    {% if not review_id %}
                                        <small><em>
                                            Enter some free text in the box below and we'll recommend some
                                            relevant trials
                                        </em></small>
                                    {% endif %}
                                </h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 text-center hidden" id="plot"
                     style="height: 30vh;">
                    {{ plot|safe }}
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">


                    <label style="font-size: 1.5rem;">
                        Title - <span id="title-saved" class="text-success">Saved</span>
                    </label>
                    <br/>
                    <textarea class="form-control" rows="1" id="free_text_title"
                              placeholder="Enter the review's title">{{ title or '' }}</textarea>
                    <br/>
                    <label for="free_text" style="font-size: 1.5rem;">
                        Abstract - <span id="abstract-saved" class="text-success">Saved</span>
                    </label>

                    <textarea class="form-control" rows="6" id="free_text"
                              placeholder="Submit some free text here and we'll recommend some trials that might be useful">{{ abstract or '' }}</textarea>
                    <br>

                </div>


            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row " id="review-trials-container">
                        <div id="included" class="col-md-6">

                            <div class="progress_cochranebot progress-div" style="display:none;">
                                <h6>cochranebot</h6>
                                <h4 id="progress_txt_cochranebot">Running cochranebot</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuemin="0" aria-valuemax="100" style="width:100%">

                                    </div>
                                </div>
                            </div>
                            <div class="progress_crossrefbot progress-div" style="display:none;">
                                <h6>crossrefbot</h6>
                                <h4 id="progress_txt_crossrefbot">Running crossrefbot</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuemin="0" aria-valuemax="100" style="width:100%">

                                    </div>
                                </div>
                            </div>
                            <div id="incl_trials_container" style="display:none;">
                                <h3>Flagged trials</h3>

                                {% if current_user.is_authenticated %}
                                    <div class="input-group">
                                        <input type="text" id="incl-id" class="form-control"
                                               placeholder="Submit relevant trials e.g. NCT00000000...">
                                        <span class="input-group-btn">
                        <button class="btn btn-secondary nct-submit" name="incl" data-for="ftext"
                                type="button">+</button>
                      </span>
                                    </div>
                                {% endif %}
                                <div id="alert-place-incl"></div>
                                <hr>
                                <div class="panel-group" id="accordion-incl" style="">
                                </div>


                            </div>
                        </div>

                        <div id="relevant" class="col-md-6">

                            <div class="progress_basicbot progress-div" style="display:none;">
                                <h6>basicbot1</h6>
                                <h4 id="progress_txt_basicbot">running basicbot</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuemin="0" aria-valuemax="100" style="width:100%">

                                    </div>
                                </div>
                            </div>
                            <div class="progress_basicbot2 progress-div" style="display:none;">
                                <h6>basicbot2</h6>
                                <h4 id="progress_txt_basicbot2">running basicbot2</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuemin="0" aria-valuemax="100" style="width:100%">

                                    </div>
                                </div>
                            </div>

                            <div id="rel_trials_container" style="display: none;"></div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
{% endblock %}