<h3> {{ reg }}Flagged trials</h3>
{% if current_user.is_authenticated %}
    <div class="input-group">
        <input type="text" class="form-control" id="incl-id"
               placeholder="Submit included trials e.g. NCT00000000...">
        <span class="input-group-btn">
                        <button class="btn btn-secondary nct-submit" name="incl" type="button">+</button>
                      </span>
    </div>
{% endif %}

<div id="alert-place-incl"></div>
<hr>


{% if reg_trials|length == 0 %}
    <div class="row">
        <div class="alert alert-info col-xs-12" role="alert">
            <span class="glyphicon glyphicon-info-sign span-gly"></span>
            Looks like there's nothing here :( How about submitting some included trials using the form above?
        </div>
    </div>
{% else %}

    <div class="panel-group" id="accordion-incl" style="">

        {% for trial in reg_trials %}
                <div class="panel panel-default" id="panel_{{ trial.nct_id }}">
                    <div class="panel-heading">
                        <div class="row">

                            <div class="col-xs-12" style="vertical-align: middle;">
                                <div class="row">
                                        <div id="dismiss_{{ trial.nct_id }}"
                                             class="col-xs-1 dismiss">{{ '&#10008;'|safe }} </div>
                                    <div class="col-xs-1">{{ "💡"|safe }}</div>

                                    <div class="col-xs-{{ '4' if trial.verified or not current_user.is_authenticated else '3' }}">
                                        {% if trial.overall_status in ('Completed','Available') %}
                                            {% set label_type='success' %}
                                        {% elif trial.overall_status in ('Suspended','Terminated','Withheld','Withdrawn') %}
                                            {% set label_type='danger' %}
                                        {% elif trial.overall_status in ('Unknown status','No longer available','Temporarily not available') %}
                                            {% set label_type='warning' %}
                                        {% elif trial.overall_status in ('Not yet recruiting','Approved for marketing','Enrolling by invitation','Active, not recruiting','Enrolling','Recruiting') %}
                                            {% set label_type='info' %}

                                        {% endif %}
                                        <span class="label label-{{ label_type }} pull-right">{{ trial.overall_status }}</span>
                                    </div>
                                </div>

                                <h4 class="panel-title" style="padding-top: 10px;">
                                    <a data-toggle="collapse" data-parent="#accordion-incl"
                                       href="#collapse_{{ trial.nct_id }}">
                                        {{ trial.brief_title }}</a>
                                </h4>


                            </div>
                        </div>


                    </div>
                    <div id="collapse_{{ trial.nct_id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            Title: {{ trial.brief_title }}<br>
                            CT.gov identifier: <a
                                href="https://clinicaltrials.gov/ct2/show/{{ trial.nct_id }}"
                                target="_blank">{{ trial.nct_id }}</a>
                            <br>
                  {#          ES3 Trial Page: <a
                                href="https://es3-bidh.sydney.edu.au/trial?trialid={{ trial.nct_id }}"
                                target="_blank">{{ trial.nct_id }}</a>
                            <br>#}

                            <div class="incl-enrol" title="{{ trial.enrollment }}">
                                Enrollment: {{ trial.enrollment }}</div>
                            <br>
                            Linked publication(s): {% for pub in trial.trialpubs %}
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pub }}"
                               target="_blank">{{ pub }}</a>
                        {% endfor %}<br>
                            Completion date: {{ trial.completion_date }}
                        </div>
                    </div>
                </div>

        {% endfor %}
    </div>
    <div class="row">
            <div class="col-2 col-xs-12">
                <button type="button" id="load_more_incl" class="btn  btn-primary btn-block " value="False">More trials
                </button>
            </div>
        </div>

{% endif %}









