{% extends "layout.html" %}

{% block content %}
    {{ super() }}

    <div class="pg_content title-page">
        {#        <div class="jumbotron">#}

        {#        </div>#}


        <div class="container-fluid">
            <div class="row" style="padding-left: 40px;">
                <div class="col-md-12">
                    <h1 class="display-3 text-left">Evidence Surveillance Synthesis and Sharing (<span class="logo-brand"><span class="flip-v-axis">3</span>S<sup>3</sup></span>)</h1>
                    <p class="lead">A shared space for humans and machines to work together to update systematic
                        reviews.</p>
                    <hr>

                    <p class="">The platform was designed to provide an open and accessible list of connections between
                        systematic reviews and clinical trials, keep track of new clinical trials that are relevant to
                        already-published systematic reviews, and check whether a new systematic review might be needed
                        for a specific clinical question.</p>

                    <p class="">It is also a work-in-progress and many of the features are currently only available to
                        registered users. Visit our <a href="/information">information page</a> to learn more.</p>

                    <br>
                    <h1 class="text-center" id="link_counts" style="display: none;"></h1>

                </div>



            </div>
        </div>


    </div>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}