{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="login-tabs">
                    <li role="presentation" class="active">
                        <a href="#login" aria-controls="login" role="tab" data-toggle="tab"><h4>Login</h4></a>
                    </li>
                    <li role="presentation">
                        <a href="#register" aria-controls="register" role="tab" data-toggle="tab"><h4>Request Access</h4></a>
                    </li>
                    <li role="presentation">
                        <a href="#reset" aria-controls="reset" role="tab" data-toggle="tab"><h4>Reset Password</h4></a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content jumbotron">
                    <div role="tabpanel" class="tab-pane active" id="login">
                        {{ wtf.quick_form(loginform) }}
                        <br/>
                        <a href="#" id="forgot-password">Forgot Password?</a>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="register">
                        We currently restrict access to some features. You can request an account here and we will try to get back to you as soon as possible!
                        <hr>
                        {{ wtf.quick_form(accessform, action=url_for('register')) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="reset">
                        Enter the email associated with your account and we will send you a new password.
                        <hr>
                        {{ wtf.quick_form(forgotpw, action=url_for('reset')) }}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}