{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron ">
                    <h1>Please log in</h1>
                   {{ wtf.quick_form(loginform) }}
                    <h3>Forgot password?</h3>
                    {{ wtf.quick_form(forgotpw, action=url_for('reset')) }}
                    <br><br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}