{% extends "layout.html" %}

{% block content %}

    <div class="container pg_content" style="padding-bottom: 5%;">

        <div class="row">

            <h1 class="display-3 text-left">more info</h1>
            <hr>
            <p>
                The best way to reference the trial2rev system and the data source:
            <ul>
                <li>P Newman, R Bashir, D Surian, FT Bourgeois, AG Dunn (2018) trial2rev: combining machine learning and
                    crowd-sourcing to create a shared space for updating systematic reviews, JAMIA Open. doi:<a href="https://dx.doi.org/10.1093/jamiaopen/ooy062"
                                                                                         target="_blank">10.1093/jamiaopen/ooy062</a>;
                </li>
            </ul>

            </p>
            <p>
                Other related articles:

                                        <ul>

                                            <li>D Surian, AG Dunn, L Orenstein, R Bashir, E Coiera, FT Bourgeois (2018) A shared latent
                                                space
                                                matrix
                                                factorisation method for recommending new trial evidence for systematic review updates,
                                                Journal
                                                of
                                                Biomedical Informatics, 79:32-40. doi:<a href="https://dx.doi.org/10.1016/j.jbi.2018.01.008"
                                                                                         target="_blank">10.1016/j.jbi.2018.01.008</a>;
                                                preprint:
                                                arXiv: <a href="https://arxiv.org/abs/1709.06758" target="_blank">1709.06758</a>.
                                            </li>
                                            <li>AG Dunn, E Coiera, FT Bourgeois (2018) Unreported links between trial registrations and
                                                published
                                                articles were identified using document similarity measures in a cross-sectional analysis of
                                                ClinicalTrials.gov, Journal of Clinical Epidemiology, 95:94-101. doi:<a
                                                        href="https://dx.doi.org/10.1016/j.jclinepi.2017.12.007" target="_blank">
                                                    10.1016/j.jclinepi.2017.12.007</a>;
                                                preprint: arXiv:<a href="https://arxiv.org/abs/1709.02116" target="_blank">1709.02116</a>.
                                            </li>
                                            <li>R Bashir, FT Bourgeois, AG Dunn (2017) A systematic review of the processes used to link
                                                clinical
                                                trial
                                                registrations to their published results, Systematic Reviews, 6:123. doi:
                                                <a href="https://systematicreviewsjournal.biomedcentral.com/articles/10.1186/s13643-017-0518-3"
                                                   target="_blank">10.1186/s13643-017-0518-3</a>.
                                            </li>
                                            <li>R Bashir, AG Dunn (2016) A systematic review protocol assessing the processes for linking
                                                clinical
                                                trial
                                                registries and their published results, BMJ Open, 6(10):e013048. doi:<a
                                                        href="http://bmjopen.bmj.com/content/6/10/e013048" target="_blank">
                                                    10.1136/bmjopen-2016-013048</a>.
                                            </li>
                                        </ul>
            </p>
            <p>
                Data sources used in the trial2rev system include CrossRef, PubMed/MEDLINE, and <a href="https://clinicaltrials.gov/" target="_blank">ClinicalTrials.gov</a>. Additional sources of data for linking systematic reviews and trials may be added in the future.
                            </p>
            <p>The research was supported by a grant from the Agency for Healthcare Research and Quality (R03HS024798) and the National Library of Medicine of the National Institutes of Health (R01LM012976), with investigators Florence Bourgeois, Adam Dunn (<a href="mailto:adam.dunn@mq.edu.au">adam.dunn@mq.edu.au</a>), and Kenneth Mandl. We also receive support from the AWS Cloud Credits for Research program. This website and the underlying systems were developed by Paige Martin (<a href = "mailto:paige.newman@mq.edu.au">paige.newman@mq.edu.au</a>).</p>

        <p>Affiliations for investigators and developers include the Computational Health Informatics Program, Boston Children’s Hospital; Department of Pediatrics, Harvard Medical School; Department of Biomedical Informatics, Harvard Medical School; and the Centre for Health Informatics, Australian Institute of Health Innovation, Macquarie University.</p></div>
    </div>

    {{ super() }}

{% endblock %}