{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class = "text-center">Change Password</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                {{ wtf.quick_form(changepw_form, action=url_for('change_password')) }}
            </div><!--/col-sm-6-->
        </div><!--/row-->
    </div>
{% endblock %}
