<h3>Recommended trials</h3>
{% if current_user.is_authenticated %}
    <div class="input-group">
        <input type="text" id="rel-id" class="form-control"
               placeholder="Submit relevant trials e.g. NCT00000000...">
        <span class="input-group-btn">
                        <button class="btn btn-secondary nct-submit" name="rel" type="button">+</button>
                      </span>
    </div>
{% endif %}
<div id="alert-place-rel"></div>
<hr>

{#<div>#}
{#    <form>#}
{#        <div class="row">#}
{#            <div class="col-2 col-xs-12">#}
{#                <button type="button" id="reset_cmp" class="btn  btn-primary btn-block " value="False"><span#}
{#                        class="glyphicon glyphicon-repeat"></span> Deselect all#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{#</div>#}
{#<br>#}
{#<div class="row">#}
{#    <div class="col-xs-1">#}
{#        <div class="text-center" style="padding-top: 6px">Sort:</div>#}
{#    </div>#}
{#    <div class="col-xs-11">#}
{#        <div class="btn-group btn-group-justified sort" data-toggle="buttons">#}
{#            <div class="btn-group" role="group">#}
{#                <label class="btn btn-primary rel" id="total_votes">#}
{#                    <input type="radio">Similarity</label>#}
{#            </div>#}
{#            <div class="btn-group" role="group">#}
{#                <label class="btn btn-primary active rel" id="net_upvotes">#}
{#                    <input type="radio">Other</label>#}
{#            </div>#}
{#            <div class="btn-group" role="group">#}
{#                <label class="btn btn-primary rel" id="completion_date">#}
{#                    <input type="radio">Completion date</label>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<br>#}

<div class="panel-group" id="accordion-rel" style="">
    {% for trial in reg_trials %}
        <div class="panel panel-default" id="panel_{{ trial.nct_id }}">
            <div class="panel-heading">
                <div class="row">
                    {#                        <div class="col-xs-2">#}
                    {#                            <div id="{{ trial.nct_id }}_vote" data-id="{{ trial.nct_id }}"#}
                    {#                                 class="upvote ">#}
                    {#                                <a class="upvote#}
                    {#                                                        {% if trial.user_vote == "up" %}{{ "upvote-on" }}{% endif %}"#}
                    {#                                   title="{{ trial.upvotes }} upvote(s)">{{ trial[4] }}</a>#}
                    {#                                <span class="count">{{ trial.upvotes - trial.downvotes }}</span>#}
                    {#                                <a class="downvote {{ ' downvote-on' if trial.user_vote == "down" }}"#}
                    {#                                   title="{{ trial.downvotes }} downvote(s)">{{ trial[5] }}</a>#}
                    {#                            </div>#}
                    {#                        </div>#}


                    <div class="col-xs-10" style="vertical-align: middle;">
                        <div class="row">

                            <div class="col-xs-1">&#10068;</div>
                            {#                                <div class="col-xs-7 nickname-cont">#}
                            {#                                <div class="col-xs-7 nickname-cont">#}
                            {#                                    Predicted {% if current_user.is_authenticated %}by <a#}
                            {#                                        class="nicknames" href="#" data-toggle="tooltip"#}
                            {#                                        title="{{ trial.voters }}">{{ trial.voters }}</a>{% endif %}</div>#}
                            <div class="col-xs-3">
                                {% if trial.overall_status in ('Completed','Available') %}
                                    {% set label_type='success' %}
                                {% elif trial.overall_status in ('Suspended','Terminated','Withheld','Withdrawn') %}
                                    {% set label_type='danger' %}
                                {% elif trial.overall_status in ('Unknown status','No longer available','Temporarily not available') %}
                                    {% set label_type='warning' %}
                                {% elif trial.overall_status in ('Not yet recruiting','Approved for marketing','Enrolling by invitation','Active, not recruiting','Enrolling','Recruiting') %}
                                    {% set label_type='info' %}

                                {% endif %}
                                <span class="label label-{{ label_type }} pull-right">{{ trial.overall_status }}</span>

                            </div>


                        </div>


                        <h4 class="panel-title" style="padding-top: 10px;">
                            <a data-toggle="collapse" data-parent="#accordion-rel"
                               href="#collapse_{{ trial.nct_id }}">
                                {{ trial.brief_title }}</a>
                        </h4>


                    </div>
                    <div class="col-xs-2">

                <span class="input-group-btn">
                                                <button class="btn btn-secondary rec_rel_incl"
                                                        id="{{ trial.nct_id }}_movincl"
                                                        name=" {{ trial.nct_id }}_movincl" type="button"
                                                >Flag</button>
                                              </span>


                    </div>
                </div>


            </div>
            <div id="collapse_{{ trial.nct_id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    Title: {{ trial.brief_title }}<br>
                    CT.gov identifier: <a
                        href="https://clinicaltrials.gov/ct2/show/{{ trial.nct_id }}"
                        target="_blank">{{ trial.nct_id }}</a>
                    <br>

                    <div class="rel-enrol" title="{{ trial.enrollment }}">
                        Enrollment: {{ trial.enrollment }}</div>
                    Linked publication(s):

                    {% for pub in trial.trialpubs %}
                        <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pub }}"
                           target="_blank"> {{ pub }}</a>
                    {% endfor %}<br>
                    <div class="row">
                        <div class="col-xs-6">Completion date: {{ trial.completion_date }}</div>
                        <div class="col-xs-6">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-2 col-xs-12">
        <button type="button" id="load_more_rel" class="btn  btn-primary btn-block " value="False">More trials
        </button>
    </div>
</div>



