<div>
    <p>
        Hello,
    </p>
    <p>
        You have been granted access to https://es3-bidh.sydney.edu.au.
    </p>
    <p>
        Your login details are provided below, you can change your password at any time here:
        <a href="https://es3-bidh.sydney.edu.au/profile">https://es3-bidh.sydney.edu.au/profile</a>.
    </p>
    <p>
        Email: {{ user }}<br/>
        Password (Case sensitive): {{ pw }}
    </p>
    <p>
        Please keep in mind that ES3 is still in early development. Some features may be buggy, incomplete or missing.
    </p>
    <p>
        Regards,<br/>
        Evidence Surveillance Synthesis and Sharing Team
    </p>
</div>
