<h3>Related reviews</h3>
{#<div id="related-sort" class="hidden" style="margin-bottom: 1rem; text-align: center">#}
{#    <span>Weighted by similarity to:</span>#}
{#    <div class="btn-group btn-group-toggle" data-toggle="buttons">#}
{##}
{#        <label class="btn btn-primary active">#}
{#            <input type="radio" name="rel-sort" id="rel-sort-abstract">Abstract#}
{#        </label>#}
{##}
{#        <label class="btn btn-primary">#}
{#            <input type="radio" name="rel-sort" id="rel-sort-trials">Flagged Trials#}
{#        </label>#}
{#    </div>#}
{#</div>#}
<div id="related_review_items">
    {% include 'related_review_item.html' %}
</div>