{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class = "text-center">Reset Password</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                {{ wtf.quick_form(form, action=url_for('reset_with_token', token=token)) }}
            </div><!--/col-sm-6-->
        </div><!--/row-->
    </div>
{% endblock %}
