{% extends "layout.html" %}

{% block content %}


    <div class="container pg_content">
        <h1 class="display-3 text-left">{{ reviews[0].condition }}</h1>
        <hr>

        <div class="row">

            <div class="checkbox">
                <input type="checkbox" id="verified-only">
                <label for="verified-only">Verified only</label>
            </div>

            <ul class="list-group">

                {% for review in reviews %}
                    <li class="list-group-item browse-item">
                        <div class="{{ 'text-success verified' if review.included_complete else 'text-warning unverified' }}">
                            {{ 'Verified' if review.included_complete else 'Unverified' }}
                        </div>
                        <div>
                            <a href="/search?searchterm={{ review.review_id }}">{{ review.title }}</a>
                            <br><small><em>{{ review.year }}</em></small>
                        </div>
                    </li>

                {% endfor %}


            </ul>


        </div>
    </div>
    {{ super() }}

{% endblock %}
