<div class="page-header text-center">
    <div class="row">
        <div class="col-md-12 col-lg-10">
            <h3><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ review.review_id }}"
                   target="_blank">{{ review.title|safe }}</a><br>
                <small><em>{{ review.authors }} - {{ review.source|safe }} <span
                        id="pub_date">{{ review.publish_date_full.strftime('%Y-%m-%d') if review.publish_date_full else review.publish_date }}</span></em></small>
            </h3>
        </div>

        {% if current_user.is_authenticated %}
            <div class="col-xs-2" style="padding-top: 20px;">
                <favorite-star class="save_review" id="{{ review.review_id }}"
                               style="font-size: 40px;" {{ 'active' if starred else '' }}></favorite-star>
            </div>{% endif %}
    </div>
</div>
<div class="row" id="plot-dash">

    <div class="col-12" id="plot" style="height: 30vh;">
    </div>

</div>
<br>
<div class="row mb-3">
    <div class="col-12">
        <div class="card py-3">
            <a class="text-center" data-toggle="collapse" href="#collapseAbs" role="button">
                <h5 class="mb-0">Abstract</h5>
            </a>
            <div id="collapseAbs" class="collapse">
                <div class="card-body">{{ review.abstract }}</div>
            </div>
        </div>


    </div>
</div>
