{% extends "layout.html" %}

{% block content %}


    <div class="container pg_content">
        <h1 class="display-3 text-left">Saved Reviews</h1>
        <hr>

        <div class="row">


            <ul class="list-group">
                {% if reviews %}
                    {% for review in reviews %}
                        <li class="list-group-item">
                            <a href="/search?searchterm={{ review.review_id }}">{{ review.title }}</a>
                            <span class="pull-right">
                                       <favorite-star class="save_review" id="{{ review.review_id }}"
                                                      style="font-size: 30px;" active></favorite-star>
                            </span>
                            <br>
                            <small><em>{{ review.year }}</em></small>


                        </li>

                    {% endfor %}
                {% else %}
                    <div class="alert alert-info col-xs-12" role="alert">
                        <span class="glyphicon glyphicon-info-sign span-gly"></span>
                        Looks like there's nothing here :(
                    </div>
                {% endif %}

            </ul>


        </div>


    </div>









    <div class="container pg_content" style="margin-bottom: 1rem">
        <h1 class="display-3 text-left">Freetext Reviews</h1>
        <hr>


        <div class="row">


            <ul class="list-group">
                {% if ftext_reviews|length %}
                    {% for review in ftext_reviews %}
                        <li class="list-group-item">
                            <a href="/blank?id={{ review.review_id }}">{{ ''.join(''.join(review.abstract.partition('.')[:2]).partition('?')[:2]) }}</a>
                            <br>
                            <small><em>{{ review.dated_added.strftime('%Y') }}</em></small>


                        </li>

                    {% endfor %}
                {% else %}
                    <div class="alert alert-info col-xs-12" role="alert">
                        <span class="glyphicon glyphicon-info-sign span-gly"></span>
                        Looks like there's nothing here :(
                    </div>
                {% endif %}

            </ul>


        </div>


    </div>










    {{ super() }}

{% endblock %}
