{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid pg_content fixed-width" style="padding:1rem">

        {#    TITLE#}
        <div class="page-header text-center">
            <div class="row">
                <div>
                    <h3>
                        <a href="https://clinicaltrials.gov/ct2/show/{{ trial.nct_id }}"
                           target="_blank">{{ trial.title }}</a>
                        <br>
                        <small>Date Completed: {{ trial.completion_date if trial.completion_date else 'N/A' }}
                        </small><br>
                        <small>Participants: {{ '{:,}'.format(trial.participants) if trial.participants else 'N/A' }}</small>


                    </h3>
                </div>


                {#    BRIEF SUMMARY  #}
                <div class="row">
                    <div class="col-md-12">

                        <div class="panel-group" style="margin-bottom: .1rem">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <h1 class="panel-title">
                                        <a class="faq-collapsible chevron-collapsible collapsed" data-toggle="collapse"
                                           href="#collapseAbs">
                                            Brief Summary <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </h1>
                                </div>
                                <div id="collapseAbs" class="panel-collapse collapse">
                                    <div class="panel-body">{{ trial.brief_summary }}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        {#        PUBLICATION LIST#}
        <div class="panel-group" id="trial_publication_panels">
            <h3>Published Results Articles</h3>
            {% if current_user.permissions == 'admin' %}
                <form id="add-pubarticle">
                    <div class="input-group" style="max-width: 450px; margin-bottom: 1rem;">
                        <input class="form-control" name="article_id" type="text"
                               placeholder="Submit an article by PubMed ID. e.g. 32081289">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">+</button>
                      </span>
                    </div>
                    <div class="alert alert-warning" style="display: none" id="pubarticle-alert">
                        <strong>Uh oh!</strong><br/>Please enter a valid PubMed ID
                    </div>
                </form>
            {% endif %}
            <div id="pubpages">
                {% if not publications|length %}
                    <span>None found</span>
                {% endif %}
                <div id="pubpage-1" class="pubpage">
                    {% for publication in publications %}
                        {% if loop.index0 and loop.index0 is divisibleby 5 %}
                            </div>
                            <div id="pubpage-{{ (loop.index/5 + 1) | int }}" class="pubpage" style="display: none;">
                        {% endif %}

                        <div class="panel panel-default" id="panel_{{ publication.trialpub_id }}">
                            <div class="panel-heading">
                                <div class="row">

                                    <div style="padding: .2rem .6rem">
                                        <div class="panel-title" style="margin-left: .6rem;">
                                    <span>
                                        <a href="https://pubmed.ncbi.nlm.nih.gov/{{ publication.trialpub_id }}"
                                           target="blank">
                                            {{ publication.title }}
                                        </a>{#<small> - {{ publication.publish_date }}</small>#}
                                    </span>
                                        </div>

                                    </div>
                                </div>


                            </div>
                            <div id="collapse_{{ publication.trialpub_id }}" class="panel-collapse">
                                <div class="panel-body">

                                    <a class="faq-collapsible chevron-collapsible collapsed" data-toggle="collapse"
                                       style="color: inherit"
                                       href="#collapseAbs_{{ publication.trialpub_id }}">
                                        <h4 style="margin: 0 0 .2rem 0">Abstract <i class="fa fa-chevron-right"
                                                                                    style="font-size: 15px"></i></h4>
                                    </a>
                                    <div id="collapseAbs_{{ publication.trialpub_id }}" class="panel-collapse collapse">
                                        {{ publication.abstract or 'No abstract available.' }}
                                    </div>

                                </div>
                            </div>
                        </div>



                    {% endfor %}
                    </div>

            </div>
            {% if publications | length > 4 %}
                <nav>
                    <ul class="pagination" id="pubpage-nav" style="display: flex; justify-content: center">
                        <li class="page-item"><a data-page="prev" href="#">Previous</a></li>
                        <li class="page-item active"><a data-page="1" href="#">1</a></li>
                        <li class="page-item"><a data-page="2" href="#">2</a></li>
                        <li class="page-item"><a data-page="3" href="#">3</a></li>
                        <li class="page-item"><a data-page="4" href="#">4</a></li>
                        <li class="page-item"><a data-page="5" href="#">5</a></li>
                        <li class="page-item"><a data-page="next" href="#">Next</a></li>
                    </ul>
                </nav>
            {% endif %}
        </div>

        {#        Included REVIEW LIST#}
        <div class="panel-group col-md-6" style="padding: 0 1rem 0 0" id="linked-reviews-list">
            <h3>Linked Systematic Reviews <br>(From metadata or manual by human)</h3>
            {% if not reviews|selectattr('relationship', 'eq', 'included')|list|length %}
                <span>None found</span>
            {% endif %}
            {% for review in reviews if review.relationship == 'included' %}
                <div class="panel panel-default" id="panel_sr{{ review.review_id }}">
                    <div class="panel-heading">
                        <div class="row">

                            <div style="padding: .2rem .6rem">
                                <div class="panel-title" style="margin-left: .6rem;">
                                    <div style="display:flex; justify-content: space-between;">
                                        <div>
                                            {{ "&#x1f512;"|safe if review.verified else "💡"|safe }}

                                            {% if review.verified %}
                                                Verified
                                            {% else %}
                                                Unverified
                                            {% endif %}
                                        </div>
                                        <div>
                                            <small>{{ 'Found in metadata' if review.user_id in (3, 5, 9, 10, 11, 12, 13, 17, 19) else 'Submitted by Human' }}</small>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="/search?searchterm={{ review.review_id }}">
                                            {{ review.title }}
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>



            {% endfor %}
            <button type="button" id="more_linked_reviews" class="btn btn-primary btn-block"
                    style="margin-top: 1rem; display: none">
                More linked reviews
            </button>
        </div>
        {#        Related REVIEW LIST#}
        <div class="panel-group col-md-6" style="padding: 0 0 0 1rem" id="related-reviews-list">
            <h3>Related Systematic Reviews <br>(From bots)</h3>
            {% if not reviews|selectattr('relationship', 'eq', 'relevant')|list|length %}
                <span>None found</span>
            {% endif %}
            {% for review in reviews if review.relationship == 'relevant' %}
                <div class="panel panel-default" id="panel_sr{{ review.review_id }}">
                    <div class="panel-heading">
                        <div class="row">

                            <div style="padding: .2rem .6rem">
                                <div class="panel-title" style="margin-left: .6rem;">
                                    <span>
                                        <a href="/search?searchterm={{ review.review_id }}">
                                            {{ review.title }}
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>



            {% endfor %}

            <button type="button" id="more_related_reviews" class="btn btn-primary btn-block"
                    style="margin-top: 1rem; display: none">
                More related reviews
            </button>

        </div>
    </div>
    {{ super() }}
{% endblock %}
